* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url("pictures/league map cartoon.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

main {
    height: 100vh;
    width: 100%;
}

.main {
    display: grid;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: right;
    font-size: 3rem;
    padding: 20px 40px;
}
.container {
    min-width: 100%;
    min-height: 100px;
    text-align: center;
}

#computer {
    margin: 10px;
    grid-template-rows: 30%;
}

#arena {
    margin: 10px;
    text-align: center;
    align-items: center;
    grid-template-rows: 30%;
}

#player {
    margin: 10px;
    text-align: right;
    grid-template-rows: 30%;
}

#Start {
    position: relative;
    top: 350px;
    left: 740px;
    height: 100px;   
    width: 200px;
    color: black;  
    background-color: red; 
    font-size:30px;
    font-weight:700;
}

#Deal-cards {
    position: relative;
    top: 450px;
    left: 740px;
    height: 100px;   
    width: 200px;
    color: black;  
    background-color: lightblue; 
    display: none;
    font-size:30px;
    font-weight:700;
}

#Battle-time {
    position: relative;
    top: 450px;
    left: 740px;
    height: 100px;   
    width: 200px;
    color: black;  
    background-color: yellow; 
    display: none;
    font-size:30px;
    font-weight:700;
}

.col-md-1 {
    max-width: 150px;
    max-height: 300px;
}

.card-backs {
    width: 8%;
    display: none;
    margin: 0 0 0 70px;
}

.pc-card-backs {
    width: 100%;
}

.card-faces {
    max-width: 150px;
    max-height: 200px;
}

#score-board {
    display: none;
}